.App {
  text-align: center;
  height: 100vh;
  background-color: #f0f0f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 700px;
  background-color: #fffbf0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-sizing: border-box;
  padding: 0 20px;
}
.game-info {
  width: 500px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}
.content {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.row {
  display: flex;
  flex-direction: row;
}
.ray-nums {
  margin-right: 100px;
}
.end {
  font-weight: bold;
  color: red
}
.suc {
  font-weight: bold;
  color: green
}